.App {
  text-align: center;
}

body {
  background: url(./assets/paw-prints-background.jpg)
}

.App-header {
  background-color: #222;
  height: 50px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

img {
  border-radius: 50%;
  height: 500px;
  width: 600px;
}

button {
  background: url(./assets/bone_PNG23.png);
  background-size: cover;
  height: 50px;
  width: 130px;
  border: none
}


